* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Rounded";
    font-size: 18px;
    min-height: 0;
    margin-top: 2px;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "SF Pro Rounded";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #bc2363;
    border-bottom: 2px solid #bc2363;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #cpu, #memory, #tray, #pulseaudio, #mode, #custom-notification {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#cpu {
}

#memory {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
}

#tray {
}

