@define-color bg #272822;
@define-color fg #f8f8f2;
@define-color dark-fg #75715e;
@define-color red #f92672;
@define-color maroon #f92672;
@define-color peach #fd971f;
@define-color yellow #e6db74;
@define-color green #a6e22e;
@define-color teal #66d9ef;
@define-color sky #66d9ef;
@define-color blue #66d9ef;
@define-color lavender #ae81ff;
@define-color pink #f92672;
@define-color gray2 #75715e;
