@define-color bg #282c34;
@define-color fg #abb2bf;
@define-color dark-fg #5c6370;
@define-color red #e06c75;
@define-color maroon #be5046;
@define-color peach #d19a66;
@define-color yellow #e5c07b;
@define-color green #98c379;
@define-color teal #56b6c2;
@define-color sky #61afef;
@define-color blue #61afef;
@define-color lavender #c678dd;
@define-color pink #c678dd;
@define-color gray2 #5c6370;
